main{
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    max-height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 0.5em;
    align-items: normal;

    .card{
        border: 0.5px solid gray;
        border-radius: 5px;
        padding: .5em;
        h4{
            width: 100%;
            text-align: center;
            font-weight: 600;
        }
    }
}